$color-foreground: #f8f8f2;
$color-pink: #ff79c6;
$color-purple: #bd93f9;
$color-comment: #6272a4;
$color-green: #50fa7b;
$color-background: #282a36;
$color-black: #2a2c37;

body {
    background-color: $color-foreground;
    margin-top: 80px;
}

.card {

    .card-header{
        color: $color-foreground;
        background-color: $color-comment;
    }
}

.btn-success{
    color: $color-black;
    border: none;
    background-color: $color-green;

    &:hover {
        color: $color-black;
        background-color: darken($color-green, 20%);
    }
}

.btn-primary{
    color: $color-black;
    border: none;
    background-color: $color-pink;

    &:hover {
        color: $color-black;
        background-color: darken($color-pink, 20%);
    }
}
